* { 
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
  scrollbar-width: thin;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: white;
}

/*navbar*/

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 23px 7%;
  background-color: #121212;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

.navbar a {
  text-decoration: none;
}

.navbar-logo {
  color: white;
  font-size: 25px;
  font-weight: 600;
}

.navbar-nav {
  display: flex;
  align-items: center;
  margin-right: 30px;
  font-size: 17px;
  font-weight: 600;
}

.navbar-nav a {
  display: flex;
}

.navbar-nav ul {
  display: flex;
  align-items: center;
}

.navbar-nav ul a {
  color: white;
  margin-left: 20px;
  transition: 0.4s ease-in-out;
}

.navbar-nav ul a:hover {
  color: #012851;
}

#hamburger-menu {
  display: none;
  margin-left: 30px;
  color: white;
  transition: 0.4s ease-in-out;
  cursor: pointer;
}

#hamburger-menu:hover {
  color: #012851;
}

/*hero*/

.hero {
  background-color: #012851;
  color: white;
  text-align: center;
  padding: 300px 20px;
}

.hero h1 {
  font-size: 35px;
  margin-bottom: 20px;
}

.hero p {
  font-weight: 200;
  font-size: 15px;
}

/*team section*/

.team {
  padding: 100px 20px;
  background-color: white;
  text-align: center;
}

.team h2 {
  font-size: 23px;
  margin-bottom: 40px;
}

.team-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.team-container a {
  color: black;
  text-decoration: none;
}

.member {
  background-color: #f4f4f4;
  margin: 15px;
  width: 250px;
  height: 0 auto;
  border-radius: 20px;
  border: 2px solid #f4f4f4;
  filter: grayscale(100%);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: 0.3s ease-in-out;
}

.member:hover {
  filter: none;
  transform: scale(1.1);
  border: 2px solid #012851;
}

.member img {
  width: 250px;
  height: 250px;
  object-fit: cover;
  object-position: center;
  border-radius: 20px;
  transition: 0.5s ease-in-out;
}

.content-member {
  padding: 10px;
}

.member h3 {
  font-size: 16px;
  color: black;
  margin-bottom: 10px;
  transition: 0.3s ease-in-out;
}

.member h3:hover {
  color: #012851;
}

.member p {
  font-size: 12px;
  font-weight: 500;
  margin-bottom: 20px;
}

/*contact*/
.contact {
  background-color: #012851;
  color: white;
  padding: 50px 20px;
  text-align: center;
}

.contact h2 {
  font-size: 18px;
  margin-bottom: 30px;
}

.contact a {
  margin: 20px 10px;
  color: white;
  font-weight: 600;
  text-decoration: none;
  transition: 0.3s ease-in-out;
}

.contact a:hover {
  color: #121212;
}

/*footer*/
footer {
  background-color: #121212;
  color: white;
  text-align: center;
  padding: 25px 0;
}

footer ul {
  margin: 40px;
  font-size: 13px;
}

footer ul a {
  color: white;
  text-decoration: none;
  transition: 0.4s ease-in-out;
  margin: 5px;
}

footer ul a:hover {
  color: #012851;
}

footer p {
  font-size: 12px;
  margin: 0;
}

/* tablet */

@media (max-width: 768px) {
  html {
    font-size: 63%;
  }

 #hamburger-menu {
  display: inline-block;
  }

   .navbar ul {
    display: inline-block;
    margin-right: 0;
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: #12121284;
    width: 300px;
    height: 100vh;
    transition: 0.3s ease-in-out;
  }

  .navbar ul.active {
    right: 0;
  }

  .navbar ul a {
    margin-bottom: 10px;
  }

  .navbar ul a:hover {
    transform: translateX(10px);
  }

}

/* hp */
@media (max-width: 450px) {
  html {
    font-size: 55%;
  }

}
